:root {
  --footer-height: 90px;
  --playlist-width: 50px;
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* UTILITY */

.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  display: flex;
  row-gap: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* MAIN */

main {
  background-color: #141922;
  display: flex;
  overflow: auto;
  height: calc(100% - var(--footer-height));
}

/* PLAYLIST */

.playlist {
  width: var(--playlist-width);
  background-color: black;
  height: 100%;
  color: #c7c7c7;
}

.playlist .container {
  padding-left: 0;
  padding-right: 0;
}

.row.navigation {
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}

.main-logo {
  padding: 5px;
  color: white;
}

.hidden.logo {
  display: none;
}

.hidden {
  display: none;
}

.navigation-list {
  padding: 10px;
}

.bottom-logos {
  padding: 10px;
}

.download-img {
  width: 15px;
  display: block;
  margin: 5px auto;
}

.profile-logo {
  background-color: gray;
  border-radius: 50%;
  width: 25px;
  overflow: hidden;
  aspect-ratio: 1;
}

/* MAIN PAGE */

.main-page {
  color: white;
  width: calc(100% - var(--playlist-width));
  overflow: auto;
}

/* main header */

.main-header {
  height: 60px;
  background-color: #080b12;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-header button {
  background-color: inherit;
  color: white;
  border: 1px solid;
  border-radius: 50px;
  padding: 10px 50px;
  height: 40px;
  margin-right: 30px;
}

/* menu */

.menu {
  padding: 1rem 2rem;
  color: #86898c;
}

.menu .container .row {
  justify-content: center;
}

.menu .container .row a {
  padding-right: 30px;
  text-align: center;
  display: inline-block;
  font-size: 0.7rem;
}

/* album */

.card {
  padding: 1rem 0.5rem;
  width: 250px;
}

.card-title {
  text-align: center;
  line-height: 2rem;
}

.card-img {
  position: relative;
}

.hover-img {
  display: none;
}

/* FOOTER */

footer {
  height: var(--footer-height);
  background-color: gray;
}

/* HOVER */

li:hover,
.new-playlist:hover,
.navigation-list div:hover,
.download-button:hover,
a:hover {
  color: white;
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
}

.main-header button:hover {
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 60px;
}

.main-header button:active {
  transform: scale(0.8);
}

.card-img:hover .hover-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  background-color: rgb(0 0 0 / 67%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVE */

/* PLAYLIST */

@media screen and (min-width: 690px) {
  :root {
    --playlist-width: 200px;
  }

  .playlist .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hidden.logo {
    display: block;
  }

  .small-logo {
    display: none;
  }

  .hidden {
    display: inline-block;
  }

  .navigation-list {
    padding: 10px 5px;
    margin-bottom: 20px;
  }

  .navigation-list div {
    display: flex;
    align-items: center;
  }

  .main-logo {
    padding: 0 5px;
  }

  .navigation-list div img {
    width: 20%;
    margin-right: 5px;
  }

  .current-playlist {
    padding: 0 5px;
  }

  .new-playlist {
    display: flex;
    align-items: center;
  }

  .fa-solid.fa-plus {
    background-color: gray;
    font-size: 4rem;
  }

  ul {
    padding-top: 1rem;
  }
  li {
    line-height: 2rem;
  }

  .download-button {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #86898c;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }

  .download-img {
    margin: 0;
  }

  .profile-pic {
    display: flex;
    align-items: center;
  }

  .profile {
    color: white;
  }

  /* MAIN PAGE */

  .card {
    width: 200px;
  }
}
